html, body {
    margin: 0;
    padding: 0;
}

.jumbotron {
    padding-top: 2rem;
  }
  
  section {
    padding-top: 5rem;
  }

  .profile {
    background-color: #e2edff;
  }

  .portfolio {
    background-color: #e2edff;
  }

  .future {
    background-color: #e2edff;
  }